html {
  font-size: 16px;
}

body {
  text-align: justify;
  font-size: 1.2rem;
  color: #454545;
  line-height: 1.6;
}

body a {
  color: #c5000f;
}

.hidden {
  display: none;
}

.description {
  margin-bottom: 1rem;
}

.hero {
  background: #ff2c3c;
}

.submit-group {
  margin-top: 2rem;
}

.navbar {
  background: radial-gradient(circle, #131825 0%, #0a0d14 100%) !important;
}

.navbar .navbar-item {
  color: #e7e7e7;
}

.company {
  color: #919191 !important;
  font-size: 1rem !important;
}

.help {
  margin-bottom: 1rem;
}

textarea {
  margin-bottom: 1rem;
}

.email {
  font-size: 1.3rem !important;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.job {
  margin-top: 5rem;
  border-radius: 10px;
  border: 2px solid #b4b4b4;
  transition: all .2s ease-in-out;
}

.job:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24), 0 3px 6px rgba(0, 0, 0, 0.28);
}

.content {
  padding: 20px 20px 0px 20px !important;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 3px;
}

.img {
  background: url("https://cdn.samuraizero.com/img/bgZero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.file-cta, .file-name {
  height: 36px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul.job-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.job-list > li.job-preview {
  border: 2px solid #d7e2e9;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  float: left;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ul.job-list > li.job-preview:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.job-title {
  margin-top: 0.6rem;
}

.company {
  color: #96a4b1;
}

.job-preview .btn {
  margin-top: 3rem;
}

.btn-apply {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: transparent;
  color: #212121;
  border: 2px solid #212121;
  padding: 0.6rem 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  transition: .2s all ease;
}

.btn-apply:hover {
  background-color: #ff2c3c;
  color: #fff;
  border: 2px solid #ff2c3c;
}

@media (max-width: 575px) {
  .job-preview .content {
    width: 100%;
  }
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-horizontal-center {
  justify-content: center;
}
